/* .heading {
color:brown;
background-color: rgb(5, 74, 51);
}

body{
    background-color: rgb(236, 141, 25);
}

button{
    background-color: blue;
    color:white;
} */

/* #box{
    height: 300px;
    width: 100px;
    background-color: rgb(20, 40, 39);
    color: white;
    border:1px solid black
} */

/* .myclass{
    color: rgb(89, 183, 152);
}

.newclass{
background-color: brown;
} */

